---
import Layout from "../../layouts/Layout.astro";
import rawCars from "../../content/cars.json";
import { fetchWikiImage } from "../../utils/wiki";
import CarCard from "../../components/CarCard.astro";
import Pagination from "../../components/Pagination.astro";

export async function getStaticPaths({ paginate }: any) {
  return paginate(rawCars, { pageSize: 12 });
}

const { page }: any = Astro.props; 

const carsWithImages = await Promise.all(
  page.data.map(async (car: any) => {
    const image = await fetchWikiImage(car.make, car.model);
    return { ...car, image };
  })
);
---

<Layout title={`Колекция - Страница ${page.currentPage}`}>
<section class="flex flex-col gap-16">
  <section class="py-32 text-white relative overflow-hidden">
    <img 
      src="/collection.jpg"
      alt="Car Collection"
      class="absolute top-0 left-0 w-full h-full object-cover z-0"
    />

    <div class="gradient"></div>

    <div class="section-header">
      <h2 class="title">Нашата Колекция</h2>
      <p class="text-xl font-medium text-text-secondary">Страница {page.currentPage} от {page.lastPage}</p>
    </div>
  </section>

  <Pagination page={page} />

  <section class="container mx-auto px-8 grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-8 mb-16">
    {carsWithImages.map((car) => (
      <CarCard car={car} returnPage={page.currentPage} />
    ))}
  </section>

  <Pagination page={page} />
</section>
</Layout>