---
import { formatPrice } from "../utils/price";
import { slugify } from "../utils/slugify";

const { car, returnPage } = Astro.props;

const slug = slugify(`${car.data.make}-${car.data.model}`)

let url = `/collection/${slug}`;

if (returnPage) {
    url += `?returnPage=${returnPage}`
}

const formattedPrice = formatPrice(car.data.price);
---

<article id={slug} class="group bg-bg-primary border border-white/20 rounded-lg shadow-lg transition-all duration-300 hover:scale-105">
    
<a href={url}>
    <div class="relative">
        <img 
        src={car.data.url} 
        alt=`${car.data.make} ${car.data.model}`
        class="w-full aspect-video object-cover rounded-t-lg transition-transform"
        />
        <div class="absolute top-0 left-0 w-full h-full gradient-soft"></div>
        <div class="absolute top-4 right-4 bg-primary text-white text-xs font-bold px-3 py-1 rounded">
        НАЛИЧЕН
        </div>
    </div>
    
    <div class="p-6">
        <div class="flex justify-between items-start mb-2">
        <h3 class="text-xl font-bold text-white group-hover:text-primary transition-colors">{car.data.make} {car.data.model}</h3>
        </div>
        
        <div class="flex gap-4 text-sm text-text-secondary mb-6">
        <span class="flex items-center gap-1"><i class="ph ph-calendar-blank"></i> {car.data.year}</span>
        <span class="flex items-center gap-1"><i class="ph ph-engine"></i> {car.data.horsepower} к.с.</span>
        </div>

        <div class="flex justify-between items-center pt-4 border-t border-gray-800">
        <span class="text-xl font-bold text-white">{formattedPrice}</span>
        <a href={url} class="text-sm text-primary border-b border-transparent hover:border-primary transition-all">Детайли</a>
        </div>
    </div>
    </a>
</article>