---
import "../styles/tailwind.css";
import "../styles/base.css";

import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";

const { 
    title, 
    description = "Открийте селекция от премиум автомобили. Внос от Германия, проверена история и безкомпромисен лукс.", 
} = Astro.props;

const pageTitle = title ? `${title} | Autolux` : "Autolux | Премиум Автомобили";
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Sofia+Sans:ital,wght@0,1..1000;1,1..1000&display=swap" rel="stylesheet">
        <link
			rel="stylesheet"
			type="text/css"
			href="https://cdn.jsdelivr.net/npm/@phosphor-icons/web@2.1.1/src/regular/style.css"
			/>
		<link
			rel="stylesheet"
			type="text/css"
			href="https://cdn.jsdelivr.net/npm/@phosphor-icons/web@2.1.1/src/fill/style.css"
		/>
		<title>{pageTitle}</title>
        <meta name="title" content={pageTitle} />
        <meta name="description" content={description} />
		<meta property="og:type" content="website" />
	</head>
	<body class="flex flex-col min-h-screen">
        <Header />
		<slot />
		<Footer />
	</body>
</html>
